<!DOCTYPE html>
<html>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<body>
	<div ng-app="myApp" ng-controller="studentController">
		<br>
		<table>
			<thead>
				<td>Id</td>
				<td>Name</td>
				<td>Marks</td>
				<td>Subject</td>
			</thead>
			<tr ng-repeat="student in students">
				<td>{{student.id}}</td>
				<td>{{student.name}}</td>
				<td>{{student.marks}}</td>
				<td>{{student.subject}}
				<td> <input type = "button" ng-click="selectStudent($index)" value="select" /> </td>
			</tr>
		</table>
		<hr>
		Selected Student {{selectedStudent}}
		<hr>
		<form name="StudentForm">
			Id: <Input type="text" name = "Id" ng-model="newStudent.id" /><br>
			Name: <Input type = "text" name = "Name" ng-model="newStudent.name" /><br>
			Marks: <Input type = "text" name = "Marks" ng-model="newStudent.marks" /><br>
			Marks: <Input type = "text" name = "Subject" ng-model="newStudent.subject" /><br>
			<Input type="button" name = "AddButton" value = "Add" ng-click="addStudent(newStudent)" />
		</form>
		<hr>
		Selection Usage:
		<hr>		
		<form name = "SelectForm" action = "/" method = "post">
			Selection Process1:
			<select name = "StudentSelection">
				<option ng-repeat = "student in students"> {{student.name}}</option>
			</select>

			<br><br>
			Selection Process2: 
			<select name="SelectForm2" ng-options = "student.name for student in students" ng-model = "selectedStudent"></select>

			<br><br>
			Selection Process3: 
			<select name="SelectForm3" ng-options = "student.id as student.name for student in students" ng-model = "selectedStudentId" ></select>
			{{selectedStudentId}}
			
			<br><br>
			Selection Process3: 
			<select name="SelectForm4" ng-options = "student.id as student.name for student in students" ng-model = "selectedStudentId2" >
				<option value="" >All</option>
			</select>
			{{selectedStudentId2}}
			
			<br><br>
			Selection Process4 Group By Subject: 
			<select name="SelectForm4" ng-options = "student.id as student.name group by student.subject for student in students" ng-model = "selectedStudentId2" >
				<option value="" >All</option>
			</select>
			{{selectedStudentId2}}
			

		</form>

	</div>

	<script>
		var app = angular.module('myApp', []);
		
		app.controller("studentController", function($scope) {
			$scope.students = [
				{id:1, name:"ABC", marks:80, subject:"Maths"},
				{id:2, name:"MNO", marks:70, subject:"Science"},
				{id:3, name:"XYZ", marks:90, subject:"Maths"},
				{id:4, name:"PQR", marks:75, subject:"Science"}
			]
			
			$scope.selectedStudent = $scope.students[1]
			$scope.selectedStudentId = 3
			$scope.selectedStudentId2 = null
			
			$scope.selectStudent = function(ind) {
				$scope.selectedStudent = $scope.students[ind]
			}
			
			$scope.addStudent = function(newStudent) {
				$scope.students.push(newStudent)
				$scope.newStudent = {}
			}
		});
		
	</script>

</body>
</html>
