<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<title>AngularJS Service Example</title>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
</head>
<body>
	<div ng-app="myApp">
		<!-- First Controller -->
		<div ng-controller="serviceDemo">
			<input type = "number" ng-model = "number" /><br>
			<input type="button" ng-click="doSquare()" value = "Square" /><br>
			<input type="button" ng-click="doHalf()" value = "Half" /><br>
		</div>
		
		<br><hr><br>
		
		<!-- Second Controller -->
		<div ng-controller="serviceDemoWithAlias as ctrl">
			<input type = "number" ng-model = "ctrl.number2" /><br>
			<input type="button" ng-click="ctrl.doSquare()" value = "Square" /><br>
			<input type="button" ng-click="ctrl.doHalf()" value = "Half" /><br>
		</div>

		<br><hr><br>
		
		<!-- Third Controller -->
		<div ng-controller="serviceDemoWithAliasDependency as ctrl">
			<input type = "number" ng-model = "ctrl.number3" /><br>
			<input type="button" ng-click="ctrl.doSquare()" value = "Square" /><br>
			<input type="button" ng-click="ctrl.doHalf()" value = "Half" /><br>
		</div>

	</div>
	
	<script>
		var app = angular.module('myApp', []);
		
		// MathService Factory
		app.factory("MathService", function() {
			var factory = {};
			
			factory.multiply = function(a,b) {
				return a * b;
			};
			
			factory.divide = function(a, b) {
				return a / b;
			};
			
			return factory;
		});
		
		//Calculator Service Factory With Dependant
		app.factory("CalculatorService", ['MathService', function(MathService) {
			var factory = {};
			
			factory.square = function(a) {
				return MathService.multiply(a, a);
			};
			
			factory.half = function(a) {
				return MathService.divide(a, 2);
			};
			
			return factory;
		}]);
		
		app.controller("serviceDemo", function($scope, MathService) {
			$scope.number = 10;
			$scope.doSquare = function() {
				$scope.number = MathService.multiply($scope.number, $scope.number);
			};
			
			$scope.doHalf = function() {
				$scope.number = MathService.divide($scope.number, 2);
			};
		});
		
		app.controller("serviceDemoWithAlias", ['$scope', 'MathService', function($scp, ms) {
			var ctrl = this;
			ctrl.number2 = 10;
			ctrl.doSquare = function() {
				ctrl.number2 = ms.multiply(ctrl.number2, ctrl.number2);
			};
			
			ctrl.doHalf = function() {
				ctrl.number2 = ms.divide(ctrl.number2, 2);
			};
		}]);

		app.controller("serviceDemoWithAliasDependency", ['$scope', 'CalculatorService', function($scp, cs) {
			var ctrl = this;
			ctrl.number3 = 10;
			ctrl.doSquare = function() {
				ctrl.number3 = cs.square(ctrl.number3);
			};
			
			ctrl.doHalf = function() {
				ctrl.number3 = cs.half(ctrl.number3);
			};
		}]);
		
		
	</script>

</body>
</html>
